<ul class="cart-items">
  <li class="cart-items-li" ng-repeat="ci in cartItems">
    <div class="row">
      <div class="col-md-4 cart-item-name">
        {{::ci.name}}
      </div>
      <div class="col-md-3 cart-item-color">
        {{::ci.color}}
      </div>
      <div class="col-md-3 cart-item-price">
        {{::ci.price | currency:'$':2 }}
      </div>
      <div class="col-md-2 cart-item-actions">
        <button class="btn btn-danger btn-xs" ng-click="removeFromCart(ci)"><i class="fa fa-times"></i></button>
      </div>
    </div>
  </li>
</ul>
<div ng-hide="cartItemsCount">
  <p>There is no items in the cart.</p>
</div>