ul.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
  max-width: 300px;

  li.cart-items-li {
    margin-bottom: 5px;
    .cart-item-name {
      font-weight: bold;
    }
    .cart-item-actions {
      .btn {
        padding: 0px 2px;
      }
    }
  }
}
