<div ng-controller='SearchController as ctrl'>
  <div class="panel panel-primary filter-area">
    <div class="panel-heading">
      Filter
    </div>
    <div class="panel-body">
      <div class="row">
        <div>
          From <input type='date'/>
          To <input type='date'/>
        </div>
        <div>
          <input type='checkbox'/> In stock only
        </div>
        <div>
          Price from <input type='number'/> To  <input type='number'/>
        </div>
        <div>
          Color
          <select>
            <option>Red</option>
            <option>Red</option>
            <option>Red</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-group item-list">
    <li class="list-group-item item-list-li" ng-repeat="item in items | catalogSearch:filter">
      <div class="row item-list-row">
        <div class="col-md-4">
          <div class="thumbnail item-image">
            <img src="" alt="...">
          </div>
        </div>
        <div class="col-md-2">
          <div class="item-field">{{::item.name}}</div>
          <div class="item-field">Color: {{::item.color}}</div>
        </div>
        <div class="col-md-3">
          <div class="item-field">
            Issue date {{::item.issue_date}}
          </div>
          <div class="item-field">
            <input type="checkbox" ng-model="item.in_stock" onclick="return false" /> In stock
          </div>
        </div>
        <div class="col-md-1 col-md-offset-2">
          <div>Price: <span class="item-price">{{::item.price}}</span></div>
          <div><button type="submit" class="btn btn-primary" ng-click="ctrl.addToCart(item)">Order</button></div>
        </div>
      </div>
    </li>
  </ul>
</div>
