@import 'bourbon';

.item-list {
  .item-list-li {
    @include clearfix();
  }

  .item-list-row {
    .item-field {
      color: #333;
      font-size: 1.2em;
    }

    .item-name {
      font-weight: bold;
      font-size: 1.4em;
    }

    .item-price {
      font-weight: bold;
      font-size: 1.5em;
    }

    .item-image {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}
